/* Custom Bootstrap styles */
body {
    font-family: 'Questrial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-custom {
    background-color: #98DFD6;
}

.bg-custom-nav {
    background-color: #00A896;
}

.btn-custom {
    background-color: #00A896;
    border-color: #00A896;
    color: white;
}

    .btn-custom:hover {
        background-color: #008C7E;
        border-color: #008C7E;
        color: white;
    }

.text-custom {
    color: #00A896;
}

.doctor-card {
    transition: transform 0.3s ease;
}

    .doctor-card:hover {
        transform: translateY(-5px);
    }