@model turno_smart.ViewModels.EspecialidadVM.DeleteEspecialidadVM

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title" id="modal-delete-label">Cancelar Turno</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p>¿Estás seguro que deseas eliminar la especialidad @Model.Nombre?</p>
</div>
<div class="modal-footer">
    <form method="post" asp-action="Delete" id="delete-form">
        <input type="hidden" asp-for=Id />
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
</div>
