@{
    ViewData["Title"] = "Reserva Exitosa";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Reserva Exitosa</h2>
            <p>Tu turno ha sido reservado con éxito.</p>
        </div>
    </div>
</div>