

<div class="container align-items-center">
    <div class="row">
        <div class="col-lg-6">
            <h2>Turno Confirmado</h2>
            <p>Tu turno ha sido agendado con éxito.</p>
        </div>
    </div>
</div> 