<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Restablecer Contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post">
                    <p class="text-muted mb-4">Introduce tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña</p>
                    <div class="mb-3">
                        <input placeholder="Email" type="email" class="form-control" value="">
                    </div>
                    <button type="submit" class="btn btn-custom w-100">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
