<!-- Modal de Edit-->
<div id="modal-edit" class="modal fade" tabindex="-1" aria-labelledby="modal-edit-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id='modal-edit-content'>
        </div>
    </div>
</div>
<!-- Modal de Create-->
<div id="modal-create" class="modal fade" tabindex="-1" aria-labelledby="modal-create-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id='modal-create-content'>
        </div>
    </div>
</div>
<!-- Modal de Delete -->
<div id="modal-delete" class="modal fade" tabindex="-1" aria-labelledby="modal-delete-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modal-delete-content">
        </div>
    </div>
</div>
<!-- Modal de Details -->
<div id="modal-details" class="modal fade" tabindex="-1" aria-labelledby="modal-details-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modal-details-content">
        </div>
    </div>
</div>
<!-- Modal de Registro -->
<div id="modal-registration" class="modal fade" tabindex="-1" aria-labelledby="modal-registration-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="modal-registration-content">
        </div>
    </div>
</div>
<!-- Modal de Login -->
<div id="modal-login" class="modal fade" tabindex="-1" aria-labelledby="modal-login-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modal-login-content">
        </div>
    </div>
</div>